
html {  /* I have indented the different styles to mage it easier to see wher they belong*/
    width: 90%;
    margin: auto;

}

    body {
        width: 100%;
        height: 100%;
        background-color: #215c21;
        font-family: Helvetica, sans-serif;
    }
        header {
            max-width: 1000px;
            padding: 0px / 0px / 0px / 0px;
        }

            h1 {
                padding: 0px / 0px / 0px / 20px;
                margin: 10px;


            }

        #game {
            display: grid;
            max-height: 600px;
            max-width: 996px;
            border: outset 2px green; 
            background-color: #246b24
        }

            #left {
                grid-area: 1 / 1 / auto / auto;
                width: 200px;
                height: 100%;
    
            }

                h2{
                    text-align:center;
                    margin: 10px;
                }

                h4{
                    text-align:center;
                    margin: 0px;
                }

                #buttons {
                    display: grid;
                    padding: 10px;
    
                }

                    #leveldown {
                        width: 50px;
                        grid-area: 1 / 1 / span 1 / span 1;
                        background-color:green;
                        border-radius: 5px;
                        margin: 5px;
                    }

                    #levelnumber {
                        width: 50px;
                        grid-area: 1 / 2 / span 1 / span 1;
                        background-color: green;
                        border-radius: 5px;
                        margin: 5px;
                    }
                    #levelup {
                        width: 50px;
                        grid-area: 1 / 3 / span 1 / span 1;
                        background-color: green;
                        border-radius: 5px;
                        margin: 5px;
                    }

                    #slider {
                        width: 100%;
                        grid-area: 2 / 1 / span 1 / span 3;
                        background-color: green;
                        border-radius: 5px;
                        margin: 5px;
                    }

                    #start {
                        grid-area: 3 / 1 / span 1 / span 2;
                        display: block;
                        background-color: green;
                        border-radius: 5px;
                        margin: 5px;
                    }

                    #reset {
                        grid-area: 3 / 3 / span 1 / span 1;
                        display: block;
                        background-color: green;
                        border-radius: 5px;
                        margin: 5px;
                    }

                #preview { /* Mini version of the Game board */
                    grid-area: span;
                    list-style: none;
                    width: fit-content;
                    padding: 5px;
                    margin: auto;
                    display: grid;
                    border: inset green;
                }

                    .preview_rows {
                        height: 8px;
                        width: fit-content;
                        grid-area: auto / 1 / auto / auto;
                        list-style: none;
                        padding: 0px;
                        margin: 0px;
                        display: grid;
                    }

                        .preview .li {
                            grid-area: 1 / auto / auto / auto;

                            padding: 0px;
                            margin: 0px;
                            width: 8px;
                            height: 8px;
                        }

                            .W {
                                background-color: #1c1c1c;
                                width: 8px;
                                height: 8px;
                                padding: 0px;
                                margin: 0px;
                                width: 8px;
                                height: 8px;
                            }

                            .P {
                                background-color: blue;
                                padding: 0px;
                                margin: 0px;
                                width: 8px;
                                height: 8px;
                            }

                            .G {
                                background-color: saddlebrown;
                                padding: 0px;
                                margin: 0px;
                                width: 8px;
                                height: 8px;
                            }

                            .B {
                                background-color: red;
                                padding: 0px;
                                margin: 0px;
                                width: 8px;
                                height: 8px;
                            }

                            .Y {
                                background-color: green;
                                padding: 0px;
                                margin: 0px;
                                width: 8px;
                                height: 8px;
                            }

                            .X {
                                background-color: darkgray;
                                padding: 0px;
                                margin: 0px;
                                width: 8px;
                                height: 8px;
                            }


            /* --- */
            #right {
                grid-area: 1 / 2 / span 1 / span 1;
                width: 100%;
                height: 100%; 
                margin: auto;
                display: grid;
            }

                #arena {
                    display: grid;
                    width:fit-content;
                    height:fit-content;
                }
                    ol.rows {
                        grid-area: auto / 1 / auto / auto;   /* This makes one row grids for simple stacking of tiles*/
                        list-style: none;
 
                        padding: 0px;
                        margin: 0px;
                        display: grid;
    
                    }

                        li {
                            grid-area: 1 / auto / auto / auto;
   
                            width: 32px;
                            height: 32px; 
                        }
                            img {
                                height: 100%; 
                                width: 100%; 
                                padding: 0px;
                                margin: 0px;
                            }

                                .tile {
                                    height: 100%; 
                                    width: 100%;
                                    z-index: 1;
                                    position: relative;
                                }

                                .entity {
                                    height: 80%; /*Player and boxes slightly smaller*/
                                    width: 80%;
                                    position: relative;
                                    top: -100%;
                                    left:10%;
                                    z-index: 2;
                                }


    footer {
        position: relative;
        bottom: 0;
        max-width: 1000px;
        height: 30px; /* Height of the footer */
        background: #243624;
        text-align: center;
        padding-top: 10px;
    }
